<div class="col-md-2">

    <ul class="nav nav-pills nav-stacked side-menu">
        <li ui-sref-active="active">
            <a ui-sref="showGame.overview" ui-sref-opts="{reload: true}">Overview
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="showGame.playProfile" ui-sref-opts="{reload: true}">Play Profile
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </li>
    </ul>
</div>